.odd-number{
    background-color: pink;
    font-style: sans-serif;
}

#first-even{
    color: blue;
    font-size: 36px;
}

.odd-number two{
    background-color: pink;
    font-size: 24px;
}

#second-even{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}